@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

::-webkit-scrollbar {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #252954;
}

.login-form{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form > input, .login-form > button{
    width: 100%;
    height: 50px;
}

.login-form > input {
    border: 2px solid #183242;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 0.5rem;
    transition: all 0.375s;
    background-color: #213244;
}

.login-form > input:hover{
    border: 2px solid #7e22ce;
}

.login-form > button{
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 0.5rem;
    background: #201d2b;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
}

.login-form > button:hover{
    background: #191724;
}

.login-form > a{
    color: #ccc;
    font-size: 0.9rem;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
    transition: all 0.375s;
}

.login-form > a:hover{
    color: #444444;
}

.navbar .toggler{
    font-size: 2rem;
    color: #c5c3c3;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: none;
}

.navbar .nav-btn{
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 90px;
    height: 40px;
    color: #ccc;
    font-size: 12px;
}

.navbar .nav-btn.selected{
    border: 1px solid #ccc;
    border-radius: 8px;
}

.navbar .logo{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 32px;
}

.navbar .item{
    font-size: 13px;
    color: #ccc;
    cursor: pointer;
}

.navbar .item.selected{
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #7e22ce;
}

.navbar .item:not(:last-child){
    margin-right: 20px;
}

.navbar .nav-buttons.active{
    transition: all 0.3s ease;
    opacity: 1;
}

.top-container .info-box{
    animation: toRight 0.8s;
}

.top-container .header{
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 55px;
}

.top-container .info-text{
    margin: 20px 0 32px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.top-container .info-buttons{
    display: flex;
}

.top-container .info-btn{
    cursor: pointer;
    padding: 8px 38px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -1px;
    color: #fff;
}

.top-container .info-btn.nav-btn{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #fff;
}

.top-container .info-btn.selected{
    border: none;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
}

.top-container .container-box{
    padding: 16px;
    border: 1px solid #000;
    background: linear-gradient(170deg, rgba(52, 93, 129, 0.08) 1.85%, rgba(57, 46, 75, 0.08) 98%);
    border-radius: 2rem;
    animation: toLeft 0.8s;
}

.top-container .auth-box{
    padding: 25px;
    border: 1px solid #000;
    background: linear-gradient(170deg, rgba(52, 93, 129, 0.08) 1.85%, rgba(57, 46, 75, 0.08) 98%);
    border-radius: 2rem;
    animation: toLeft 0.8s;
}

.top-container .container-nobox{
    padding: 16px;
    animation: toLeft 0.8s;
}

.top-container .container-pic{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 1.6rem;
}

.top-container .container-box .container-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.top-container .container-box .info, .top-container .container-box .likes{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
}

.top-container .container-box .info-img{
    object-fit: cover;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.top-container .container-box .likes .icon-box{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.top-container .container-box .likes .icon-box .bx{
    font-size: 30px;
    margin-right: 8px;
}

.get-started{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
}

.get-started .header{
    align-self: center;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
}

.top .header{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    line-height: 72px;
}

.get-started .info-text{
    align-self: center;
    color: #ccc;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.5px;
}

.get-started .items-box{
    padding: 60px 80px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: space-around;
}

.get-started .items-box:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 120px;
    top: 80px;
    background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
    filter: blur(140px);
}

.get-started .items-box .item-container p{
    width: 100px;
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.get-started .items-box .item-container .item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 2.6rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(90px);
}

.get-started .items-box .item-container .item .bx{
    font-size: 38px;
    color: #eee;
}

.code-block {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.4;
    overflow-x: auto;
    position: relative;
}

.code-title {
    background-color: #3d3d3d;
    color: #ffffff;
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-right: 10px;
}

.copy-button {
    background-color: #3d3d3d;
    color: #ffffff;
    border: none;
    padding: 6.5px 12px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.pading-cod {
    padding: 20px;
}

.code-block:hover .copy-button {
    background-color: #555555;
}

.code-block.copied .copy-button {
    content: 'Скопировано!';
}

.code-content {
    white-space: pre;
    overflow-x: auto;
}

@media screen and (max-width: 1040px) {
    .top-container{
        flex-direction: column;
    }

    .top-container .info-box{
        max-width: none;
        margin: 60px 0;
    }

    .top-container .container-box{
        display: none;
    }
}

@media screen and (max-width: 925px) {
    .navbar .nav-links{
        display: none;
    }

    .navbar .nav-buttons{
        opacity: 0;
    }

    .navbar .toggler{
        display: flex !important;
        align-items: center;
    }

    .get-started .info-text{
        text-align: center;
    }

    .get-started .items-box{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        padding: 50px 0;
    }

    .get-started .items-box:before{
        height: 200px;
        top: 90px;
        filter: blur(120px);
    }
}

@media screen and (max-width: 700px) {
    .top-container{
        margin-top: 4rem !important;
    }

    .top-container .info-box{
        max-height: none;
        max-width: none;
        margin-bottom: 4rem;
    }

    .top-container .container-box{
        display: block;
        max-width: none;
        max-height: none;
        margin: 10px;
    }
}